In [1]:
import pandas as pd

df = pd.read_csv(r"E:\data sets\sales_data_sample.csv", encoding="latin1", parse_dates = ['ORDER_DATE'])
df

,ORDER_NUMBER,QUANTITY_ORDERED,PRICE_EACH,ORDERLINE_NUMBER,SALES,ORDER_DATE,STATUS,QTR,MONTH,YEAR,...,ADDRESS_LINE,ADDRESSLINE2,CITY,STATE,POSTAL_CODE,COUNTRY,TERRITORY,CONTACT_LASTNAME,CONTACT_FIRSTNAME,DEAL_SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05-07-2003 00:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12-02-2004 00:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,03-01-2005 00:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,05-06-2005 00:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

## data exploring

In [2]:
df.head()

,ORDER_NUMBER,QUANTITY_ORDERED,PRICE_EACH,ORDERLINE_NUMBER,SALES,ORDER_DATE,STATUS,QTR,MONTH,YEAR,...,ADDRESS_LINE,ADDRESSLINE2,CITY,STATE,POSTAL_CODE,COUNTRY,TERRITORY,CONTACT_LASTNAME,CONTACT_FIRSTNAME,DEAL_SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05-07-2003 00:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [3]:
df.describe()

,ORDER_NUMBER,QUANTITY_ORDERED,PRICE_EACH,ORDERLINE_NUMBER,SALES,QTR,MONTH,YEAR,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [4]:
df.shape

(2823, 25)

In [5]:
df.columns

Index(['ORDER_NUMBER', 'QUANTITY_ORDERED', 'PRICE_EACH', 'ORDERLINE_NUMBER',
       'SALES', 'ORDER_DATE', 'STATUS', 'QTR', 'MONTH', 'YEAR', 'PRODUCT_LINE',
       'MSRP', 'PRODUCT_CODE', 'CUSTOMER_NAME', 'PHONE', 'ADDRESS_LINE',
       'ADDRESSLINE2', 'CITY', 'STATE', 'POSTAL_CODE', 'COUNTRY', 'TERRITORY',
       'CONTACT_LASTNAME', 'CONTACT_FIRSTNAME', 'DEAL_SIZE'],
      dtype='object')

In [6]:
df.dtypes

ORDER_NUMBER           int64
QUANTITY_ORDERED       int64
PRICE_EACH           float64
ORDERLINE_NUMBER       int64
SALES                float64
ORDER_DATE            object
STATUS                object
QTR                    int64
MONTH                  int64
YEAR                   int64
PRODUCT_LINE          object
MSRP                   int64
PRODUCT_CODE          object
CUSTOMER_NAME         object
PHONE                 object
ADDRESS_LINE          object
ADDRESSLINE2          object
CITY                  object
STATE                 object
POSTAL_CODE           object
COUNTRY               object
TERRITORY             object
CONTACT_LASTNAME      object
CONTACT_FIRSTNAME     object
DEAL_SIZE             object
dtype: object

In [7]:
df.nunique()

ORDER_NUMBER          307
QUANTITY_ORDERED       58
PRICE_EACH           1016
ORDERLINE_NUMBER       18
SALES                2763
ORDER_DATE            252
STATUS                  6
QTR                     4
MONTH                  12
YEAR                    3
PRODUCT_LINE            7
MSRP                   80
PRODUCT_CODE          109
CUSTOMER_NAME          92
PHONE                  91
ADDRESS_LINE           92
ADDRESSLINE2            9
CITY                   73
STATE                  16
POSTAL_CODE            73
COUNTRY                19
TERRITORY               3
CONTACT_LASTNAME       77
CONTACT_FIRSTNAME      72
DEAL_SIZE               3
dtype: int64

In [8]:
df.memory_usage()

Index                  132
ORDER_NUMBER         22584
QUANTITY_ORDERED     22584
PRICE_EACH           22584
ORDERLINE_NUMBER     22584
SALES                22584
ORDER_DATE           22584
STATUS               22584
QTR                  22584
MONTH                22584
YEAR                 22584
PRODUCT_LINE         22584
MSRP                 22584
PRODUCT_CODE         22584
CUSTOMER_NAME        22584
PHONE                22584
ADDRESS_LINE         22584
ADDRESSLINE2         22584
CITY                 22584
STATE                22584
POSTAL_CODE          22584
COUNTRY              22584
TERRITORY            22584
CONTACT_LASTNAME     22584
CONTACT_FIRSTNAME    22584
DEAL_SIZE            22584
dtype: int64

## typecasting

In [9]:
df

,ORDER_NUMBER,QUANTITY_ORDERED,PRICE_EACH,ORDERLINE_NUMBER,SALES,ORDER_DATE,STATUS,QTR,MONTH,YEAR,...,ADDRESS_LINE,ADDRESSLINE2,CITY,STATE,POSTAL_CODE,COUNTRY,TERRITORY,CONTACT_LASTNAME,CONTACT_FIRSTNAME,DEAL_SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05-07-2003 00:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12-02-2004 00:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,03-01-2005 00:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,05-06-2005 00:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [20]:
df['year'] = df['year'].astype(object)
df['year']

0       2003
1       2003
2       2003
3       2003
4       2003
        ...
2818    2004
2819    2005
2820    2005
2821    2005
2822    2005
Name: year, Length: 2823, dtype: object

In [19]:
df['month'] = df['month'].astype(object)
df['month']

0        2
1        5
2        7
3        8
4       10
        ..
2818    12
2819     1
2820     3
2821     3
2822     5
Name: month, Length: 2823, dtype: object

In [18]:
df['qtr'] = df['qtr'].astype(object)
df['qtr']

0       1
1       2
2       3
3       3
4       4
       ..
2818    4
2819    1
2820    1
2821    1
2822    2
Name: qtr, Length: 2823, dtype: object

## str functions

In [17]:
df.columns = df.columns.str.lower()
df.columns

Index(['order_number', 'quantity_ordered', 'price_each', 'orderline_number',
       'sales', 'order_date', 'status', 'qtr', 'month', 'year', 'product_line',
       'msrp', 'product_code', 'customer_name', 'phone', 'address_line',
       'addressline2', 'city', 'state', 'postal_code', 'country', 'territory',
       'contact_lastname', 'contact_firstname', 'deal_size'],
      dtype='object')

In [34]:
df2[df2['customer_name'].str.contains('Technics Stores Inc.')]

,order_number,quantity_ordered,price_each,orderline_number,sales,order_date,status,qtr,month,year,...,phone,address_line,city,state,postal_code,country,territory,contact_lastname,contact_firstname,deal_size
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
29,10140,37,100.00,11,7374.10,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Large
59,10168,27,100.00,4,3660.93,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
85,10168,20,100.00,3,4183.00,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
101,10362,22,100.00,4,3664.10,01-05-2005 00:00,Shipped,1,1,2005,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
136,10140,26,100.00,4,3188.12,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
215,10140,38,100.00,8,4829.80,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
261,10362,22,100.00,1,3877.06,01-05-2005 00:00,Shipped,1,1,2005,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
423,10140,32,100.00,10,4181.44,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
756,10140,46,61.99,2,2851.54,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
785,10168,21,70.96,9,1490.16,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
809,10168,46,61.18,5,2814.28,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
825,10362,23,49.67,3,1142.41,01-05-2005 00:00,Shipped,1,1,2005,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
1318,10140,40,100.00,5,4601.20,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
1345,10140,29,43.27,9,1254.83,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
1471,10168,50,100.00,2,5747.50,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
1487,10362,50,96.92,2,4846.00,01-05-2005 00:00,Shipped,1,1,2005,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
1520,10168,49,100.00,11,6433.70,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
1569,10168,29,75.41,6,2186.89,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
1644,10140,47,100.00,1,5105.14,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2002,10168,27,73.02,18,1971.54,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2102,10168,48,78.25,10,3756.00,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2112,10317,35,83.32,1,2916.20,11-02-2004 00:00,Shipped,4,11,2004,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2149,10140,26,100.00,3,2829.58,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2177,10168,28,100.00,7,3244.36,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2279,10140,28,60.76,7,1701.28,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2307,10168,31,73.61,12,2281.91,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2357,10168,48,51.93,13,2492.64,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2488,10168,28,98.65,14,2762.20,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Small
2566,10168,31,100.00,16,3431.39,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2617,10140,36,100.00,6,4114.80,7/24/2003 0:00,Shipped,3,7,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2645,10168,36,100.00,8,4527.72,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2670,10168,48,96.00,15,4608.00,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
2748,10168,39,82.91,17,3233.49,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium

## data cleaning

In [11]:
df[df.duplicated()]

Empty DataFrame
Columns: [ORDER_NUMBER, QUANTITY_ORDERED, PRICE_EACH, ORDERLINE_NUMBER, SALES, ORDER_DATE, STATUS, QTR, MONTH, YEAR, PRODUCT_LINE, MSRP, PRODUCT_CODE, CUSTOMER_NAME, PHONE, ADDRESS_LINE, ADDRESSLINE2, CITY, STATE, POSTAL_CODE, COUNTRY, TERRITORY, CONTACT_LASTNAME, CONTACT_FIRSTNAME, DEAL_SIZE]
Index: []

[0 rows x 25 columns]

In [21]:
df1.isnull().sum()

ORDER_NUMBER         0
QUANTITY_ORDERED     0
PRICE_EACH           0
ORDERLINE_NUMBER     0
SALES                0
ORDER_DATE           0
STATUS               0
QTR                  0
MONTH                0
YEAR                 0
PRODUCT_LINE         0
MSRP                 0
PRODUCT_CODE         0
CUSTOMER_NAME        0
PHONE                0
ADDRESS_LINE         0
ADDRESSLINE2         0
CITY                 0
STATE                0
POSTAL_CODE          0
COUNTRY              0
TERRITORY            0
CONTACT_LASTNAME     0
CONTACT_FIRSTNAME    0
DEAL_SIZE            0
dtype: int64

In [27]:
df1 = df.fillna('Not_applicable')
df1

C:\Users\Admin\AppData\Local\Temp\ipykernel_1168\3908829940.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1 = df.fillna('Not_applicable')

,order_number,quantity_ordered,price_each,orderline_number,sales,order_date,status,qtr,month,year,...,address_line,addressline2,city,state,postal_code,country,territory,contact_lastname,contact_firstname,deal_size
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,Not_applicable,NYC,NY,10022,USA,Not_applicable,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05-07-2003 00:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,Not_applicable,Reims,Not_applicable,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,Not_applicable,Paris,Not_applicable,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,Not_applicable,Pasadena,CA,90003,USA,Not_applicable,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,7734 Strong St.,Not_applicable,San Francisco,CA,Not_applicable,USA,Not_applicable,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12-02-2004 00:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",Not_applicable,Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,Not_applicable,Oulu,Not_applicable,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,03-01-2005 00:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",Not_applicable,Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,Not_applicable,Toulouse,Not_applicable,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,05-06-2005 00:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,Not_applicable,Boston,MA,51003,USA,Not_applicable,Yoshido,Juri,Medium

In [28]:
df1

,order_number,quantity_ordered,price_each,orderline_number,sales,order_date,status,qtr,month,year,...,address_line,addressline2,city,state,postal_code,country,territory,contact_lastname,contact_firstname,deal_size
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,Not_applicable,NYC,NY,10022,USA,Not_applicable,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05-07-2003 00:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,Not_applicable,Reims,Not_applicable,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,Not_applicable,Paris,Not_applicable,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,Not_applicable,Pasadena,CA,90003,USA,Not_applicable,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,7734 Strong St.,Not_applicable,San Francisco,CA,Not_applicable,USA,Not_applicable,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12-02-2004 00:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",Not_applicable,Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,Not_applicable,Oulu,Not_applicable,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,03-01-2005 00:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",Not_applicable,Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,Not_applicable,Toulouse,Not_applicable,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,05-06-2005 00:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,Not_applicable,Boston,MA,51003,USA,Not_applicable,Yoshido,Juri,Medium

In [29]:
df2 = df1.drop(columns = 'addressline2')
df2

,order_number,quantity_ordered,price_each,orderline_number,sales,order_date,status,qtr,month,year,...,phone,address_line,city,state,postal_code,country,territory,contact_lastname,contact_firstname,deal_size
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Not_applicable,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05-07-2003 00:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,Reims,Not_applicable,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Not_applicable,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Not_applicable,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,Not_applicable,USA,Not_applicable,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12-02-2004 00:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,Torikatu 38,Oulu,Not_applicable,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,03-01-2005 00:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,61.77.6555,1 rue Alsace-Lorraine,Toulouse,Not_applicable,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,05-06-2005 00:00,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,Boston,MA,51003,USA,Not_applicable,Yoshido,Juri,Medium

In [30]:
df2.isnull().sum()

order_number         0
quantity_ordered     0
price_each           0
orderline_number     0
sales                0
order_date           0
status               0
qtr                  0
month                0
year                 0
product_line         0
msrp                 0
product_code         0
customer_name        0
phone                0
address_line         0
city                 0
state                0
postal_code          0
country              0
territory            0
contact_lastname     0
contact_firstname    0
deal_size            0
dtype: int64

## filtering functions

In [39]:
df5 = df2.query('price_each >= 90')
df5

,order_number,quantity_ordered,price_each,orderline_number,sales,order_date,status,qtr,month,year,...,phone,address_line,city,state,postal_code,country,territory,contact_lastname,contact_firstname,deal_size
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Not_applicable,Yu,Kwai,Small
2,10134,41,94.74,2,3884.34,07-01-2003 00:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,Not_applicable,75508,France,EMEA,Da Cunha,Daniel,Medium
4,10159,49,100.00,14,5205.27,10-10-2003 00:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,San Francisco,CA,Not_applicable,USA,Not_applicable,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,6505556809,9408 Furth Circle,Burlingame,CA,94217,USA,Not_applicable,Hirano,Juri,Medium
7,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,2003,...,+47 2267 3215,"Drammen 121, PR 744 Sentrum",Bergen,Not_applicable,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,10361,23,95.20,12,2189.60,12/17/2004 0:00,Shipped,4,12,2004,...,+61 2 9495 8555,"Monitor Money Building, 815 Pacific Hwy",Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
2817,10337,42,97.16,5,4080.72,11/21/2004 0:00,Shipped,4,11,2004,...,2125558493,5905 Pompton St.,NYC,NY,10022,USA,Not_applicable,Hernandez,Maria,Medium
2818,10350,20,100.00,15,2244.40,12-02-2004 00:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,Torikatu 38,Oulu,Not_applicable,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,03-01-2005 00:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Medium

In [46]:
price_high = df2.groupby('price_each')['sales'].std().reset_index(name = 'high_price')
price_high.sort_values(by = 'high_price', ascending = False, ignore_index = True)

      price_each   high_price
0          93.28  5012.877962
1          92.00  2927.422074
2          88.75  2488.695169
3          90.19  2295.862581
4          98.18  1986.376569
...          ...          ...
1011       99.66          NaN
1012       99.67          NaN
1013       99.69          NaN
1014       99.72          NaN
1015       99.91          NaN

[1016 rows x 2 columns]

In [49]:
price_high1 = df2.groupby('price_each')['sales'].mean().reset_index(name = 'high_price_avg')
price_high1.sort_values(by = 'high_price_avg', ascending = False, ignore_index = True)

      price_each  high_price_avg
0          92.95         6134.70
1          94.50         5811.75
2          93.28         5503.52
3          96.30         5296.50
4          92.00         5014.00
...          ...             ...
1011       35.18          703.60
1012       30.20          694.60
1013       43.49          652.35
1014       32.59          651.80
1015       28.88          577.60

[1016 rows x 2 columns]

## sorting functions

In [52]:
df2.sort_values(by = 'sales', ascending = False)

,order_number,quantity_ordered,price_each,orderline_number,sales,order_date,status,qtr,month,year,...,phone,address_line,city,state,postal_code,country,territory,contact_lastname,contact_firstname,deal_size
598,10407,76,100.00,2,14082.80,4/22/2005 0:00,On Hold,2,4,2005,...,4085553659,3086 Ingle Ln.,San Jose,CA,94217,USA,Not_applicable,Frick,Sue,Large
744,10322,50,100.00,6,12536.50,11-04-2004 00:00,Shipped,4,11,2004,...,6035558647,2304 Long Airport Avenue,Nashua,NH,62005,USA,Not_applicable,Young,Valarie,Large
53,10424,50,100.00,6,12001.00,5/31/2005 0:00,In Process,2,5,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Large
1062,10412,60,100.00,9,11887.80,05-03-2005 00:00,Shipped,2,5,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,Not_applicable,28034,Spain,EMEA,Freyre,Diego,Large
104,10403,66,100.00,9,11886.60,04-08-2005 00:00,Shipped,2,4,2005,...,(171) 555-2282,Berkeley Gardens 12 Brewery,Liverpool,Not_applicable,WX1 6LT,UK,EMEA,Devon,Elizabeth,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818,10419,15,42.67,7,640.05,5/17/2005 0:00,Shipped,2,5,2005,...,6562-9555,Geislweg 14,Salzburg,Not_applicable,5020,Austria,EMEA,Pipps,Georg,Small
1551,10280,20,28.88,12,577.60,8/17/2004 0:00,Shipped,3,8,2004,...,011-4988555,Via Monte Bianco 34,Torino,Not_applicable,10100,Italy,EMEA,Accorti,Paolo,Small
2044,10408,15,36.93,1,553.95,4/22/2005 0:00,Shipped,2,4,2005,...,+81 3 3584 0555,2-2-8 Roppongi,Minato-ku,Tokyo,106-0032,Japan,Japan,Shimamura,Akiko,Small
1287,10407,6,90.19,3,541.14,4/22/2005 0:00,On Hold,2,4,2005,...,4085553659,3086 Ingle Ln.,San Jose,CA,94217,USA,Not_applicable,Frick,Sue,Small
2249,10425,11,43.83,6,482.13,5/31/2005 0:00,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages",Nantes,Not_applicable,44000,France,EMEA,Labrune,Janine,Small

In [55]:
 import pymysql
from sqlalchemy import create_engine

engine_mysql = create_engine("mysql+pymysql://root:2005@127.0.0.1:3306/analysis_sales")

try:
    create_engine
    print("engine sucessfully active")
except:
    print("unable to connect")

engine sucessfully active

In [56]:
df2.to_sql(name = 'analysis_sales' , con = engine_mysql , if_exists= 'append' , index = False )

2823